body {
    display: flex;
/* Makes the sections divided from top to bottom and stretches from left to right */ 
    flex-direction: column;
/* Erases default white border aroudn entire website */
    margin: 0 ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,
.herocont {
    background-color: #1F2937;
    color: #F9FaF8;
    display: flex;
    flex-direction: row;
/* Makes Logo, Links, Hero section and others touch the edge of their flexboxes */
    justify-content: space-between;
    align-items: center;
    margin: 0px;
/* centering method for website used due to consistency */     
    padding: 0 200px;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 14px;
}



li,
.secondarytext {
/* gets rid of bullets in the list */
    list-style-type: none;
    font-size: 18px;

}


a {
/* gets rid of underline for links */
    text-decoration: none;
    color: #E5E7EB;
}


.herocont{
    display: flex;
    justify-content: space-between;
/* centering method for website used for consistency */    
    padding: 75px 200px 50px;
}

.hero{
    display: flex;
/* makes width smaller using a % of the space available */
    width: 35%;
    flex-flow: row wrap;
}

.maintext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
    
}

.hero button{
/* gives the button its own Line */
    display: block;
    background-color: #3882F6;
    color: #F9FaF8;
    padding: 8px 30px;
/* rounds out the edges of the button depending on the value */
    border-radius: 5px;
/* gets rid of grey border around button */
    border: 0;
    font-weight: bold;
    font-size: 16px;
    margin: 12px 0;
}

.imagecont {
  display: flex;
  width: auto;
  height: 300px;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
/* Changed width centering to be aligned with only quote section */
    padding: 50px 400px 100px;
    flex-flow: column;
}

.infotitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937; 
    padding-bottom: 40px;
}

.infoimgcont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info img {
/* made images smaller height wise in this section */
    height: 200px;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 100px 400px 100px;
}

.quotespeaker{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-end;
}